@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
  color: #000;
  margin: auto;
}
#capture {
  background-color: #fff;
}
.main-container {
  margin: 50px 10% 100px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
canvas {
  background-color: #ffffff;
  min-height: 50vh;
  max-height: 80vh;
}
.title-container {
  width: 60vw;
}
#title {
  align-self: flex-start;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}

.box-minmax {
  margin-top: 10px;
  width: 60vw;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-bottom: 20px;
}
.box-minmax span:first-child {
  margin-left: 10px;
}

.emptySpace {
  height: 100px;
}

@media screen and (max-width: 576px) {
  .box-minmax {
    font-size: small;
  }
}

.main-container p {
  text-align: center;
  font-weight: 300;
}
#download {
  /* margin-top: 2rem; */
  background-color: #fae102;
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
